<acme-navbar creation-date="main.creationDate"></acme-navbar>
<div class="container customContainer">
  <div class="loading" ng-if="main.loaded">
    <span>All users were successfully downloaded!</span>
  </div>
  <div class="userContainer">
    <div class="searchBox">
      <input type="text" ng-model="main.searchParam" placeholder="Search: ">
      <label for="orderBy">Order users by: </label>
      <select name="" id="orderBy" ng-model="main.orderParam" ng-change="main.changeOrderEvent(main.orderParam)" class="form-control">
        <option value="name">name</option>
        <option value="-name">descending name</option>
        <option value="username">username</option>
        <option value="-username">descending username</option>
        <option value="email">email</option>
        <option value="-email">descending email</option>
        <option value="address.street">street</option>
        <option value="-address.street">descending street</option>
        <option value="company.name">company name</option>
        <option value="-company.name">descending company name</option>
      </select>
      <label for="descending">Ascending\descending: </label>
      <select name="" id="descending" ng-model="main.descending" ng-change="main.changeSort()" class="form-control">
        <option value="ascending">ascending</option>
        <option value="descending">descending</option>
      </select>
    </div>
    <div class="user" ng-repeat="user in main.users | userFilter: main.searchParam | orderBy: main.orderParam "
         ng-click="main.handleUserClick(user, $index)" data-toggle="modal" data-target="#addUserModal">
      <div class="self-info">
        <div class="name">
          <span class="title">Name: </span>
          <span class="value">
          {{user.name}}
          </span>
        </div>
        <div class="phone">
          <span class="title">Phone: </span>
          <span class="value">
          {{user.phone}}
          </span></div>
        <div class="website">
          <span class="title">Website: </span>
          <span class="value">
          {{user.website}}
          </span></div>
        <div class="username">
          <span class="title">Username: </span>
          <span class="value">
          {{user.username}}
          </span></div>
        <div class="email"><span id="{{user.username}}">
        <span class="title">Email: </span>
          <span class="value">
          {{user.email}}
          </span>
        </span>
          <button class="btn btn-default" data-clipboard-target="#{{user.username}}">Copy</button>
        </div>
      </div>
      <div class="company-info">
        <div class="companyName">
          <span class="title">Company Name: </span>
          <span class="value">
          {{user.company.name}}
          </span></div>
        <div class="companyPhrase">
          <span class="title">Company phrase: </span>
          <span class="value">
         {{user.company.catchPhrase}}
          </span></div>
        <div class="companyBs">
          <span class="title">Company bs: </span>
          <span class="value">
          {{user.company.bs}}
          </span></div>
      </div>
      <div class="geo-info">
        <div class="city">
          <span class="title">City: </span>
          <span class="value">
         {{user.address.city}}
          </span></div>
        <div class="street">
          <span class="title">Street: </span>
          <span class="value">
          {{user.address.street}}
          </span></div>
        <div class="zipcode">
          <span class="title">Zip code: </span>
          <span class="value">
          {{user.address.zipcode}}
          </span></div>
        <div class="suite">
          <span class="title">Suite: </span>
          <span class="value">
         {{user.address.suite}}
          </span></div>
        <div class="distance">
          <span class="title">Distance from current location: </span>
          <span class="value">
         {{main.calculateDistance(user.address.geo.lat, user.address.geo.lng, main.currentCoordinates.lat, main.currentCoordinates.lon) | number: 2}} km
          </span></div>
      </div>
    </div>
    <div class="user">
      <div class="addUser" data-toggle="modal" data-target="#addUserModal" ng-click="main.handleAddUserClick()"><i class="glyphicon glyphicon-plus"></i>
        <span> Add user</span></div>
    </div>
  </div>
  <div ng-include="'/app/templates/userModal.html'"></div>
</div>
