<div class="customContainer">
  <div class="headerCust">
    <div class="header">
      <div class="menu">
        <a href="#" class="active">My Campaigns</a>
        <a href="#">A/B Testing</a>
        <a href="#">Statistics</a>
        <a href="#">Leads</a>
      </div>
      <div class="user">
        <a href="#" class="kl-user-btn">
          <img src="app/template/default-profile.png" alt="image">
          <span class="kl-user-name">Guy Lev</span>
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="kl-user-list">
          <li>
            <a href="#">My account</a>
          </li>
          <li>
            <a href="#">
              <span>Messages</span>
              <span class="kl-messages-quantity">12</span>
            </a>
          </li>
          <li>
            <a href="#">Notifications</a>
          </li>
          <li>
            <a href="#">Privacy</a>
          </li>
          <li>
            <a href="#">Billing</a>
          </li>
          <li>
            <a href="#">Log out</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="logoAndBut">
      <div class="logo">
        <img src="app/template/Logo.png" alt="logo">
      </div>
      <div class="buttons">
        <button class="succes-btn">SAVE AND PROCEED</button>
        <button class="default-btn">BACK</button>
      </div>
    </div>
    <div class="additionalMenu">
      <div ng-click="ctrl.setContent('appearance')" ng-class="{'active': currentPage == 'appearance'}">APPEARANCE</div>
      <div ng-click="ctrl.setContent('content')" ng-class="{'active': currentPage == 'content'}">CONTENT</div>
      <div ng-click="ctrl.setContent('success')" ng-class="{'active': currentPage == 'success'}">SUCCESS</div>
      <div ng-click="ctrl.setContent('behavior')" ng-class="{'active': currentPage == 'behavior'}">BEHAVIOR & TARGETING
        RULES
      </div>
      <div ng-click="ctrl.setContent('integrations')" ng-class="{'active': currentPage == 'integrations'}">
        INTEGRATIONS
      </div>
      <div ng-click="ctrl.setContent('automation')" ng-class="{'active': currentPage == 'automation'}">AUTOMATION</div>
    </div>
  </div>
  <div class="bodyCust">
    <div class="settings" ng-if="currentPage != 'behavior'">
      <div class="item" ng-if="currentPage == 'appearance'">
        <div class="title">Position</div>
        <div class="value">
          <div class="positions">
            <div class="kl-center-modal-btn active" data-toggle="tooltip" data-placement="bottom" ng-click="ctrl.offerOn = !ctrl.offerOn;"></div>
            <div class="kl-bottom-left-modal-btn" data-toggle="tooltip" data-placement="bottom" ng-click="ctrl.leftBlock = !ctrl.leftBlock; ctrl.needRight = false;"></div>
            <div class="kl-bottom-right-modal-btn" data-toggle="tooltip" data-placement="bottom" ng-click="ctrl.leftBlock = !ctrl.leftBlock; ctrl.needRight = true;"></div>
            <div class="kl-top-modal-btn" data-toggle="tooltip" data-placement="bottom" ng-click="ctrl.fullwidth = !ctrl.fullwidth; ctrl.topPositionOfBar = true;"></div>
            <div class="kl-bottom-modal-btn" data-toggle="tooltip" data-placement="bottom" ng-click="ctrl.fullwidth = !ctrl.fullwidth; ctrl.topPositionOfBar = false;"></div>
            <div class="kl-left-modal-btn" data-toggle="tooltip" data-placement="bottom" ng-click="ctrl.leftBarVisible = !ctrl.leftBarVisible; ctrl.rightPositionBar = false;"></div>
            <div class="kl-right-modal-btn" data-toggle="tooltip" data-placement="bottom" ng-click="ctrl.rightPositionBar = true; ctrl.leftBarVisible = !ctrl.leftBarVisible;"></div>
          </div>
        </div>
      </div>
      <div class="item" ng-if="currentPage == 'appearance'">
        <div class="title">Widget size</div>
        <div class="value">
          <div class="size"><input type="text" value="555px"></div>
          <div class="size"><input type="text" value="215px"></div>
        </div>
      </div>
      <div class="item" ng-if="currentPage == 'success'">
        <div class="title">Title</div>
        <div class="value">
          <input type="text" value="Thank you!" class="inputFull">
        </div>
      </div>
      <div class="item messageInputBox" onclick="$('.noBorder').focus();" ng-if="currentPage == 'success'">
        <div class="messageHeaderButtons">
          <select name="" id="magic" style="margin-right: 5px;">
            <option value="">A</option>
            <option value="">B</option>
            <option value="">C</option>
          </select>
          <button class="btn btn-default">B</button>
          <button class="btn btn-default" style="text-decoration: underline;">U</button>
          <button class="btn btn-default" style="margin-right: 5px;"><span class="glyphicon glyphicon-erase"></span>
          </button>
          <select name="" id="font" style="margin-right: 5px;">
            <option value="">Helvetica</option>
            <option value="">Times New Roman</option>
            <option value="">Verdana</option>
          </select>
          <select name="" id="size" style="margin-right: 5px;">
            <option value="">A</option>
            <option value="">A</option>
            <option value="">A</option>
          </select>
          <button class="btn btn-default"><span class="glyphicon glyphicon-list"></span></button>
          <button class="btn btn-default"><span class="glyphicon glyphicon-align-right"></span></button>
          <button class="btn btn-default"><span class="glyphicon glyphicon-align-left"></span></button>
        </div>
        <div class="messageTextBox">
          <input type="text" class="noBorder">
        </div>
      </div>
      <div class="item flex" ng-if="currentPage == 'appearance' || currentPage == 'success'">
        <div class="item">
          <div class="title"><span ng-if="currentPage == 'appearance'">Widget background color</span><span
            ng-if="currentPage == 'success'">Button Placeholder</span></div>
          <div class="value"><p class="value"><span class="color"></span> #df2d24</p></div>
        </div>
        <div class="item browse">
          <div class="title"><span ng-if="currentPage == 'appearance'">Widget background image</span><span
            ng-if="currentPage == 'success'">Image</span></div>
          <div class="value"><img src="app/template/input-bordered.png" alt="alt">
            <button>Browse</button>
          </div>
        </div>
      </div>
      <div class="item radioBlock" ng-if="currentPage == 'content'">
        <div class="title">CHOOSE FIELDS</div>
        <div class="value">
          <input name="set" type="radio" id="email">
          <label for="email"><span class="round"><i class="glyphicon glyphicon-ok"></i></span>Email</label>
          <input name="set" type="radio" id="name">
          <label for="name"><span class="round"><i class="glyphicon glyphicon-ok"></i></span>Name</label>
          <input name="set" type="radio" id="phone">
          <label for="phone"><span class="round"><i class="glyphicon glyphicon-ok"></i></span>Phone</label>
        </div>
      </div>
      <div class="item mainTitle" ng-if="currentPage == 'content'">
        <div class="title">
          MAIN TITLE
        </div>
        <div class="value">
          <input type="text" value="Wait, we have a special offer!">
        </div>
      </div>
      <div class="item subTitle" ng-if="currentPage == 'content'">
        <div class="title">
          SUB TITLE
        </div>
        <div class="value">
          <input type="text" value="Enter your email and get 15% off!">
        </div>
      </div>
      <div class="item flex fourItems" ng-if="currentPage == 'content'">
        <div class="item">
          <div class="title">
            EMAIL PLACEHOLDER
          </div>
          <div class="value">
            <input type="text" value="Enter email address here">
          </div>
        </div>
        <div class="item left">
          <div class="title">
            BUTTON PLACEHOLDER
          </div>
          <div class="value">
            <input type="text" value="SEND MY 15% OFF NOW">
          </div>
        </div>
        <div class="item">
          <div class="title">
            BOTTOM TEXT
          </div>
          <div class="value">
            <input type="text" value="No, thanks. I don't like free gifts.">
          </div>
        </div>
        <div class="item left">
          <div class="title">
            CLOSE TEXT
          </div>
          <div class="value">
            <input type="text" value="Esc">
          </div>
        </div>
      </div>
      <div class="item" ng-if="currentPage == 'appearance' || currentPage == 'content' || currentPage == 'success'">
        <div class="title">Colors</div>
        <div class="value flex">
          <p class="value">
            <span class="color white"></span> Headline text
          </p>
          <p class="value">
            <span class="color white"></span> Sub text
          </p>
          <p class="value">
            <span class="color black"></span> Button background
          </p>
          <p class="value">
            <span class="color white"></span> Button text color
          </p>
          <p class="value">
            <span class="color yellow"></span> Button hover background
          </p>
          <p class="value">
            <span class="color white"></span> Close button
          </p>
        </div>
      </div>
      <div class="item" ng-if="currentPage == 'appearance'">
        <div class="title">Font</div>
        <div class="value">
          <input type="text" class="fullwidth" value="Helvetica Neue, Helvetica, Arial, sans-serif">
        </div>
      </div>
      <div class="item" ng-if="currentPage == 'appearance'">
        <div class="title">Show off animation</div>
        <div class="value">
          <input type="text" class="fullwidth" value="Fade down from top">
        </div>
      </div>
    </div>
    <div class="view" ng-if="currentPage != 'behavior'">
      <div class="header">
        <img src="app/template/dots.png" alt="alt">
      </div>
      <div class="url">
        <div class="arrows">
          <img src="app/template/arrowleft.png" alt="">
          <img src="app/template/arrowright.png" alt="">
        </div>
        <div class="site">
          <input type="text" value="https://www.yoursite.com">
        </div>
        <div class="controls">
          <img src="app/template/refresh.png" alt="alt">
          <img src="app/template/hamburger.png" alt="alt">
        </div>
      </div>
      <div class="body">
        <div class="desktop" ng-class="{'needBottom': ctrl.topPositionOfBar}">
          <img src="app/template/mobile.png" alt="alt">
          <img src="app/template/desktop.png" alt="alt">
        </div>
        <div class="message" ng-if="ctrl.leftBlock && currentPage == 'appearance'"
             ng-class="{'needRight': ctrl.needRight}">
          <div class="messCont">
            <div class="messheader">
              <span class="text">Amsterdam Exclusive offers</span>
              <span class="glyphicon glyphicon-remove"></span>
            </div>
            <div class="messbody">
              <div class="text">
                <span>Looking for flight o Amsterdam? Subscribe today and we will send you exclusive offers to your email up to <span
                  class="white">15%</span> off</span>
              </div>
              <div class="input">
                <input type="text" placeholder="Enter Email Address Here ">
                <button>SUBSCRIBE TO VIP</button>
              </div>
            </div>
            <div class="messfooter">
              <span>We will not share your email or send you spam.</span>
            </div>
          </div>

        </div>
        <div class="message fullwidthDiv" ng-class="{'needTopPosition': ctrl.topPositionOfBar}"
             ng-if="ctrl.fullwidth && currentPage == 'appearance'">
          <div class="messCont">
            <div class="messheader">
              <span class="text">Amsterdam Exclusive offers</span>
              <span class="off">up to <span class="percent">15%</span> off</span>
            </div>
            <div class="input">
              <input type="text" placeholder="Enter Email Address Here ">
              <button>SUBSCRIBE TO VIP</button>
            </div>
            <div class="closeBtn">
              <i class="glyphicon glyphicon-remove"></i>
            </div>
          </div>
        </div>
        <div class="leftBar" ng-if="ctrl.leftBarVisible && currentPage == 'appearance'"
             ng-class="{'needRightPosition': ctrl.rightPositionBar}">
          <span>Exclusive offers</span>
        </div>
        <div class="offer" ng-if="ctrl.offerOn && currentPage == 'appearance'">
          <div class="offerCont">
            <div class="offerHeader">
              Wait, we have special offer!
            </div>
            <div class="offerBody">
              <div class="info">
                Enter your email and get <span class="percent">15%</span> off!
              </div>
              <div class="inputs">
                <input type="text" value="Enter email address here">
                <button>SEND MY 15% OFF NOW</button>
              </div>
            </div>
            <div class="offerFooter">
              <div>
                No, thanks. I don't like free gifts.
              </div>
            </div>
            <div class="closeBtn">
              <i class="glyphicon glyphicon-remove"></i>
            </div>
          </div>
        </div>
        <div class="thankYou" ng-if="currentPage == 'success'">
          <div class="thanksContainer">
            <div class="image">
              <img src="app/template/thank-image.png" alt="">
            </div>
            <div class="text">
              <div class="textHeader">
                <div>Thank you!</div>
              </div>
              <div class="textBody">
                <div>
                  Your discount code will be in your email within a few minutes.
                </div>
              </div>
              <div class="textFooter">
                <button class="btnRed">Close window</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="kl-settings-total-block" ng-if="currentPage == 'behavior'">

      <div class="kl-settings-block">
        <div class="kl-settings-title">
          <span class="kl-settings-title__name">BASIC SETTINGS</span>
          <span class="glyphicon glyphicon-chevron-up"></span>
        </div>
        <div class="kl-settings-content">
          <div class="kl-settings-content-block">
            <p>Apply campaign for whole site</p>
            <input class="kl-settings-content-block__input width560" type="text" name="name" placeholder="http://www.kicklander.com">
          </div>
          <div class="kl-settings-content-block">
            <p>or apply for some pages</p>
            <div class="kl-settings-content-url-block">
              <span>url</span>
              <div class="kl-settings-drop-block">
                <input class="kl-settings-drop-input" type="hidden" name="name">
                <button class="kl-settings-drop-button">
                  <span class="kl-settings-drop-button-name">Contains</span>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <div class="kl-settings-drop-down-block">
                  <label>
                    <input type="radio" name="url" value="1">
                    <span>Contains</span>
                  </label>
                  <label>
                    <input type="radio" name="url" value="2">
                    <span>Contains 2</span>
                  </label>
                  <label>
                    <input type="radio" name="url" value="3">
                    <span>Contains 3</span>
                  </label>
                </div>
              </div>
              <input class="kl-settings-content-block__input width560" type="text" name="name" placeholder="http://www.kicklander.com">
              <button class="kl-settings-content-block__remove">Remove</button>
            </div>
            <button class="kl-settings-content-block__add">
              <span class="glyphicon glyphicon-plus"></span>
              <span>Add url</span>
            </button>
          </div>
        </div>
      </div>

      <div class="kl-settings-block">
        <div class="kl-settings-title">
          <span class="kl-settings-title__name">Campaign show off</span>
          <span class="glyphicon glyphicon-chevron-up"></span>
        </div>
        <div class="kl-settings-content">

          <div class="kl-settings-content-block">
            <div class="kl-settings-content-label">
              <span class="round">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span class="kl-settings-content-label__text">Schedule campaign by date range</span>
            </div>
            <div class="kl-settings-content-label-block">
              <span class="kl-settings-content-block__date-span">from:</span>
              <input class="kl-settings-content-block__date-input" type="text" name="from" placeholder="00/00/0000">
              <span class="kl-settings-content-block__date-span">to:</span>
              <input class="kl-settings-content-block__date-input" type="text" name="to" placeholder="00/00/0000">
            </div>
          </div>

          <div class="kl-settings-content-block">
            <div class="kl-settings-content-label">
              <span class="round">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span class="kl-settings-content-label__text">Show on exit</span>
            </div>
            <div class="kl-settings-content-label-block">
              <p>Please note that mobile & tablet campaigns should have delay or scrolling target instead of exit intend.</p>
            </div>
          </div>

          <div class="kl-settings-content-block">
            <div class="kl-settings-content-label">
              <span class="round">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span class="kl-settings-content-label__text">After ‘X’ Second(s)</span>
            </div>
            <div class="kl-settings-content-label-block">
              <span class="kl-settings-content-block__time-span">Campaign will appear after delay of</span>
              <input class="kl-settings-content-block__time-input width70" type="text" name="time" placeholder="5">
              <span class="kl-settings-content-block__time-span">second(s).</span>
            </div>
          </div>

          <div class="kl-settings-content-block">
            <div class="kl-settings-content-label">
              <span class="round">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span class="kl-settings-content-label__text">After scrolling up ‘X’ percent</span>
            </div>
            <div class="kl-settings-content-label-block">
              <span class="kl-settings-content-block__time-span">When a user scrolls</span>
              <input class="kl-settings-content-block__scrolling-input width70" type="text" name="scrolling" placeholder="0">
              <span class="kl-settings-content-block__time-span">% up the page</span>
            </div>
          </div>

          <div class="kl-settings-content-block">
            <div class="kl-settings-content-label">
              <span class="round">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span class="kl-settings-content-label__text">After scrolling down ‘X’ percent</span>
            </div>
            <div class="kl-settings-content-label-block">
              <span class="kl-settings-content-block__time-span">When a user scrolls</span>
              <input class="kl-settings-content-block__scrolling-input width70" type="text" name="scrolling" placeholder="0">
              <span class="kl-settings-content-block__time-span">% down the page</span>
            </div>
          </div>

          <div class="kl-settings-content-block">
            <div class="kl-settings-content-label">
              <span class="round">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span class="kl-settings-content-label__text">Special Link</span>
            </div>
            <div class="kl-settings-content-label-block">
              <p>Campaign will appear after user clicking on specific CSS element</p>
              <span class="kl-settings-content-block__time-span">CSS Selector</span>
              <input class="kl-settings-content-block__selector-input" type="text" name="selector">
              <p>Visitor can click on a button, image or some part of the page and show off your campaign by this feature.</p>
              <p class="kl-settings-content-block__bold-text">For example:</p>
              <p>Clicking on CSS class “<span class="kl-settings-content-block__red-text">.banner</span>”</p>
              <p>Clicking on CSS id “<span class="kl-settings-content-block__red-text">#banner</span>”</p>
            </div>
          </div>

          <div class="kl-settings-content-block">
            <div class="kl-settings-content-label">
              <span class="round">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span class="kl-settings-content-label__text">Impression Frequency</span>
            </div>
            <div class="kl-settings-content-label-block">
              <div class="kl-settings-drop-block kl-settings-frequency-block">
                <input class="kl-settings-drop-input" type="hidden" name="name">
                <button class="kl-settings-drop-button">
                  <span class="kl-settings-drop-button-name">Everyday for the same visitor</span>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <div class="kl-settings-drop-down-block">
                  <label>
                    <input type="radio" name="frequency" value="1">
                    <span>Everyday for the same visitor</span>
                  </label>
                  <label>
                    <input type="radio" name="frequency" value="2">
                    <span>Everyday for the same visitor 2</span>
                  </label>
                  <label>
                    <input type="radio" name="frequency" value="3">
                    <span>Everyday for the same visitor 3</span>
                  </label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="kl-settings-block">
        <div class="kl-settings-title">
          <span class="kl-settings-title__name">What visitors</span>
          <span class="glyphicon glyphicon-chevron-up"></span>
        </div>
        <div class="kl-settings-content">

          <div class="kl-settings-content-block">
            <div class="kl-settings-content-label">
              <span class="round">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span class="kl-settings-content-label__text">Returning or new visitors</span>
            </div>
            <div class="kl-settings-content-label-block">
              <div class="kl-settings-drop-block kl-settings-visitors-block">
                <input class="kl-settings-drop-input" type="hidden" name="name">
                <button class="kl-settings-drop-button">
                  <span class="kl-settings-drop-button-name">All visitors</span>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <div class="kl-settings-drop-down-block">
                  <label>
                    <input type="radio" name="visitors" value="1">
                    <span>All visitors</span>
                  </label>
                  <label>
                    <input type="radio" name="visitors" value="2">
                    <span>All visitors 2</span>
                  </label>
                  <label>
                    <input type="radio" name="visitors" value="3">
                    <span>All visitors 3</span>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="kl-settings-content-block">
            <div class="kl-settings-content-label">
              <span class="round">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span class="kl-settings-content-label__text">Show campaign if visitor visited ‘x’ pages</span>
            </div>
            <div class="kl-settings-content-label-block">
              <span class="kl-settings-content-block__time-span">Visitor opened at least</span>
              <div class="kl-settings-content-label-block kl-settings-content-pages-block">
                <div class="kl-settings-drop-block kl-settings-pages-block">
                  <input class="kl-settings-drop-input" type="hidden" name="name">
                  <button class="kl-settings-drop-button">
                    <span class="kl-settings-drop-button-name">Any</span>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </button>
                  <div class="kl-settings-drop-down-block">
                    <label>
                      <input type="radio" name="pages" value="1">
                      <span>Any</span>
                    </label>
                    <label>
                      <input type="radio" name="pages" value="2">
                      <span>Any 2</span>
                    </label>
                    <label>
                      <input type="radio" name="pages" value="3">
                      <span>Any 3</span>
                    </label>
                  </div>
                </div>
              </div>
              <span class="kl-settings-content-block__time-span">pages</span>
            </div>
          </div>

          <div class="kl-settings-content-block">
            <div class="kl-settings-content-label">
              <span class="round">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span class="kl-settings-content-label__text">DEVICE TYPE</span>
            </div>
            <div class="kl-settings-content-label-block">
              <div class="kl-settings-drop-block kl-settings-devices-block">
                <input class="kl-settings-drop-input" type="hidden" name="name">
                <button class="kl-settings-drop-button">
                  <span class="kl-settings-drop-button-name">All devices</span>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <div class="kl-settings-drop-down-block">
                  <label>
                    <input type="radio" name="devices" value="1">
                    <span>All devices</span>
                  </label>
                  <label>
                    <input type="radio" name="devices" value="2">
                    <span>All devices 2</span>
                  </label>
                  <label>
                    <input type="radio" name="devices" value="3">
                    <span>All devices 3</span>
                  </label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="footer">
    <span>Kicklander &reg;</span>
  </div>
</div>
